.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 0.25px solid #2d374e;
}

.todo-item-text {
  margin: 20px 25px;
  width: 90%;
}

.todo-item-completed {
  text-decoration: line-through;
  color: lightslategray;
}
