#TodoList{
  width: 100%;
  margin: 100px 0 70px 0;
  align-self: center;
}

#TodoList ul{
  list-style-type: none;
  margin: 0 auto;
  padding: 10px 0;
  border: 0.5px 0  0.5px 0 solid darkslategray;
  width: 90%;
}

@media screen and (min-width: 992px) {
    #TodoList{
      width: 720px;
    }
}