.ModalBackground{
    background: rgba(35,35,35,.8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}