.TodoConfirmation-container{
    width: 90%;
    max-width: 300px;
    background-color: #fff;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TodoConfirmation-message{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--bg);
    margin-bottom: 26px;
}

.TodoConfirmation-container-button{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TodoConfirmation-button{
    cursor:pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 800;
    width: 120px;
    height: 46px;
    border-radius: 0.25em;
    border: 0.5px solid var(--bg);
    font-family: 'Roboto';
}

.TodoConfirmation-accept{
    background-color: var(--bg);
    color: white;
    box-shadow: 0px 5px 25px rgba(97, 128, 250, 0.5); 
}

.TodoConfirmation-cancel{
    background: transparent;
    color:var(--bg);
}