@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  /*Colores base*/
  --bg-gradiant: linear-gradient(180deg,#121f3d  0%, #202B45 100%);
  --color: white;
  --bg: #121f3d ;

  /*fonts*/
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
